{% extends 'layout.twig' %}

{% block body %}
  <h2>Catégories</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Libellé</th>
    </tr>
    {% for categorie in categories %}
      <tr>
        <td>{{ categorie.id }}</td>
        <td>
            <a href="{{ url_for('categorie', {'id': categorie.id}) }}">{{ categorie.libelle }}</a>
        </td>
      </tr>
    {% endfor %}
  </table>

  <a href="{{ url_for('accueil') }}">Accueil</a>

{% endblock %}
