{% extends 'layout.twig' %}

{% block content %}
  <form action="/create" method="post">
    <label for="name"> Catégorie :</label>
    <input type="text" id="name" name="Nom de la catégorie" required>
    <br>
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <input type="submit" value="Valider">
  </form>

{% endblock %}
