{% extends 'layout.twig' %}

{% block body %}

    <h3>Prestations de la categorie</h3>
    <ul>
        {% for prestation in prestations %}
            <li><a href="{{ url_for('prestation') }}?id={{ prestation.id }}">{{ prestation.libelle }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('categorie', {'id': prestations|first.cat_id}) }}">Retour à la categorie</a>

{% endblock %}

